.users__container {
	margin-top: var(--mb-1-75);
	width: 70%;
}

.users__card {
	border: 1px solid var(--border-color);
	border-radius: 1rem;
}

.swiper-slide{
	width: 250px !important;
}

/* ====================== BREAKPOINTS ====================== */
/* Medium Device */
@media screen and (max-width: 768px) {
	.users {
		margin-left: var(--mb-1);
		margin-right: var(--mb-1);
	}
    
	.users__container {
		width: 100%;
	}
}
