.customers {
	margin: 0 8rem;
}

.customers >img{
	width: 100%;
}

/* ====================== BREAKPOINTS ====================== */
/* Medium Device */
@media screen and (max-width: 768px) {
	.customers {
		margin: 0 var(--mb-1);  
	}
}

@media screen and (max-width: 576px) {
	.customers{
		display: none;
	}
}
